body {
    background-color: #2B4256;
    width: 100%;
    padding-top: 30px;
    font-family: 'Syncopate', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.barra-inicio {
    width: 100%;
    height: 70px;
    background-color: #6CA5B1;
    color: white;
    clear: both;
}

.barra-inicio h1 {
    float: left;
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    float: left;
    position: relative;
    top: -15px;
    margin-left: 20px;
}

#logo-inicio {
    width: 120px;
    height: 100px;
    position: relative;
    left: -5px;
}

.barranav {
    width: 80%;
    height: 50px;
    background-color: #C05C33;
    position: absolute;
    top: 90px;
    right: 0;
    border-radius: 20px;
    margin-right: 50px;
}

.barranav ul {
    margin: 0;
}

.linav {
    width: 150px;
    height: 33px;
    text-align: center;
    padding-top: 17px;
    padding-right: 50px:
}

.linav:hover {
    animation-name: lihover;
    animation-duration: 1s;
    background-color: #eb6f0b;
}

@keyframes lihover {
    from {
        background-color: #C05C33;
    }

    to {
        background-color: #eb6f0b;
    }
}

.linav a {
    color: white;
    text-decoration: none;
}

.barranav li {
    display: inline-block;
    float: right;
}

#ultimo-nav {
    margin-right: 70px;
}

.redes {
    width: 25%;
    height: 800px;
    padding-top: 50px;
    float: left;
    clear: both;
}

.cuadro-red {
    width: 80%;
    height: 70px;
    background-color: yellow;
    border-radius: 30px;
    margin-top: 50px;
    margin: 50px 10%;
    color: white;
}

.logo-red {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.h3-red {
    float: left;
    margin-top: 28px;
    margin-left: 15px;
}

#facebook {
    background-color: #3b5998;
}

#twitter {
    background-color: #00acee;
}

#instagram {
    background-color: #E1306C;
}

#whatsapp {
    background-color: #25d366;
}

.prepa6 {
    width: 80%;
    margin: 50px 10%;
    text-decoration: none;
}

.coyotep6 {
    width: 120%;
    margin: 10px -10%;
}

.logo-coyote {
    background-color: white;
    border-radius: 50%;
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
}

.texto-prepa6 {
    background-color: #6CA5B1;
    width: 80%;
    margin-left: 10%;
    margin-top: -10px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px 0;
}

.a-c {
    background-color: #595959;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

article {
    background-color: white;
    width: 75%;
    height: 900px;
    margin-top: -30px;
    display: inline-block;
    float: left;
}

.espacio-nav {
    width: 100%;
    height: 40px;
}

footer {
    width: 100%;
    background-color: red;
    clear: both;
    margin-bottom: 50px;
}

.barra-final {
    width: 75%;
    padding: 10px 0;
    margin-left: 17%;
    margin-top: -20px;
    text-align: center;
    background-color: #C05C33;
    border-radius: 20px;
    color: white;
    float: left;
}

.logo-final {
    float: left;
    display: inline-block;
    margin-top: -85px;
    margin-left: -20px;
}

.texto-final {
    background-color: #6CA5B1;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 7px;
    margin-top: -10px;
}

.fondo-logo-final {
    background-color: #595959;
    border-radius: 50%;
}

.espacio-final {
    width: 100%;
    height: 50px;
    clear: both;
}